#navImg{
    background-color: white;
    color: black;
    border-radius: 7px;
}

#nav{
    background-color: rgb(200, 30, 30);
    color: white;
    font-weight: bold;
}

.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    }
    .swiper-pagination-bullet {
    background: #4f46e5;
    }

