#navImg{
    background-color: white;
    color: black;
    border-radius: 7px;
}

#nav{
    background-color: rgb(200, 30, 30);
    color: white;
    font-weight: bold;
}

#s1{
    background: radial-gradient(circle, rgba(117, 117, 117, 1) 0%, rgba(5, 0, 0, 1) 100%, rgba(74, 74, 74, 1) 100%);
}

#s2{
      background-color: #303030;
}

#enviarForm{
    border-radius: 30px;
    border-color: black;
    border-width: 3px;
}

#cardSteam{
    background-color: #303030;
    border-radius: 30px;
}
